<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Proshchenko Sergey</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 inside-container">
              <h1 id="name">PROSHCHENKO SERGEY</h1>
              <p class="p1 profession">Data Analyst & Machine Learning Engineer</p>
              <img id="photo" src="static/images/ps.jpg">
              <p class="p2 info">City: Saint-Petersburg, ready to relocation</p>
              <p class="p2 info">Telegram: @SProshchenko</p>
              <p class="p2 info">LinkedIn: <a href="https://www.linkedin.com/in/sproshchenko/" target="_blank">SProshchenko</a></p>
              <p class="p2 info">mail: SProshchenko@yandex.ru</p>
              <p class="p2 info">GitHub: <a href="https://github.com/PSergey24" target="_blank">PSergey24</a></p>
              <p class="p2 info">Leetcode: <a href="https://leetcode.com/sproshchenko24/" target="_blank">sproshchenko24</a></p>
              <p class="p2 info">CV: <a href="#" target="_blank">PDF</a></p>
              <h2 class="education"><span># </span>Education</h2>
              <p class="p2 info">Cosmonautic school. Department of physics and mathematics</p>
              <p class="p2 info">Saint Petersburg State University of Aerospace Instrumentation. Master, Department of Information system and technologies.</p>
              <h2 class="languages"><span># </span>Languages</h2>
              <p class="p2 info">English: intermediate (B1)</p>
              <p class="p2 info">Russian: native</p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 inside-container">
              <h2><span># </span>Skills</h2>
              <p class="p2">Python, Bash, Linux, Git, Docker, RabbitMQ</p>
              <p class="p2">Scikit-learn, PyTorch, OpenCV, Spacy</p>
              <p class="p2">Pandas, SQL, Numpy, Flask</p>
              <p class="p2">Algorithms and Data Structures, Mathematics, Microservices, NLP, Telegram bots</p>
              <h2><span># </span>Work experience</h2>
              <ul>
                  <li><p class="p2">Innoscripta International; Sep, 2020 - Mart, 2022</p></li>
                  <li><p class="p2"><span># </span><a class="p2" href="/balance_parser">Balance Parser</a></p></li>
                  <li><p class="p2"><span>- </span>Information extractor was developed that recognizes 96-98% of cases</p></li>
                  <li><p class="p2"><span>- </span>A system of microservices has been created based on RabbitMQ</p></li>
                  <li><p class="p2"><span>- </span>Work experience in international team</p></li>
                  <li><p class="p2"><span># </span><a class="p2" href="/employees_parser">Employees Parser</a></p></li>
                  <li><p class="p2"><span>- </span>Information extractors were developed based on Spacy library and pattern recognition. Both system were combined for increasing quality of recognition. Overall recognition accuracy over 95%.</p></li>
                  <li><p class="p2"><span>- </span>A system of microservices has been created based on RabbitMQ</p></li>
                  <li><p class="p2"><span>- </span>Experience in managing international students for the purpose of data labeling. In english language</p></li>
              </ul>
              <h2><span># </span>Other projects</h2>
              <ul>
                  <li><a class="p2" href="https://github.com/PSergey24/nba_prediction" target="_blank">NBA games prediction (pay attention to this project)</a></li>
                  <li><p class="p2"><span>- </span>created a system of automated microservices. Each service works on a schedule. List of services: parsing match results, web part, preparing training data, training models on schedule (saving a better version), monitoring match schedules and predicting their results, sending prediction results to a telegram channel.</p></li>
                  <li><p class="p2"><span>- </span>Accuracy 72-73%. Project based on article that have result 67%.</p></li>
                  <li><p class="p2"><span>- </span>Features engineering</p></li>
                  <li><p class="p2"><span>- </span>TODO: players injury monitoring based on NER task. Important because part of the features is the current player's form</p></li>
                  <li><a class="p2" href="https://github.com/PSergey24/Facial_attractiveness_predictor" target="_blank">Facial attractiveness prediction</a></li>
                  <li><p class="p2"><span>- </span>Experience with OpenCV</p></li>
                  <li><p class="p2"><span>- </span>Features extraction from images</p></li>
                  <li><p class="p2"><span>- </span>Data/image labelling</p></li>
                  <li><a class="p2" href="https://github.com/PSergey24/games_project" target="_blank">Games (Snake and Arkanoid) + RL</a></li>
                  <li><p class="p2"><span>- </span>Experience with PyTorch</p></li>
                  <li><p class="p2"><span>- </span>Experience with PyGame library</p></li>
                  <li><p class="p2"><span>- </span>Developed the physical logic of the movement of objects in the game</p></li>
                  <li><p class="p2"><span>- </span>First experience with Reinforcement Learning, based on youtube lessons</p></li>
                  <li><a class="p2" href="https://github.com/PSergey24/kaggle_titanic">Kaggle Titanic</a></li>
                  <li><p class="p2"><span>- </span>Experience with tabular data and simple models</p></li>
              </ul>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
